@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.navbar-custom {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 215px;
  background-color: #f2eaea;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-custom div {
  display: grid;
  gap: 15px;
}

.bi-person-circle {
  font-size: 70px;
  color: #5043af;
  margin: 0;
}

.navbar-custom ul {
  list-style: none;
  margin: 0;
  display: grid;
  gap: 10px;
  padding: 0;
  width: 100%;
}

.navbar-custom .iconos li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5px 0;
  width: 100%;
  border-bottom: 2px solid #573bb6;
  border-radius: 10px;
  & a {
    text-decoration: none;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    display: block;
    width: 100%;
  }
}

.user {
  margin-bottom: 50px;
  text-align: center;
}

.navbar-custom .icon li:hover {
  background-color: #e3dbdb;
}

.navbar-custom .cerrar-icon {
  transition: all ease 0.6s;
  border-radius: 10px;
  margin-top: 20px;

  & a {
    text-decoration: none;
    color: #2c3e50;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    /* display: block; */
    width: 100%;
  }
}

.navbar-custom .cerrar-icon:hover {
  background-color: rgb(216, 144, 144);
  transition: all ease 0.6s;
}

.logo-header {
  width: 80%;
  margin-bottom: 20px;
  align-self: center;
}

.icon {
  display: flex;
  align-items: center;
  margin: 5 px 0;
  padding: 5px;
}

.container {
  display: flex;
  gap: 5px;
  padding: 8px;
  margin-left: 250px;
}

.container .totales {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.container .totales .totales-individuales {
  display: flex;
  flex-direction: column;
  width: 18em;
}

.tarjeta-individual {
  border-radius: 12px;
  background-color: #38a86f;
  width: auto;
  height: 10em;
  border: solid 2px #198f51;
  margin: 10px;
}

.tarjeta-container-ventas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.tarjeta-container-ventas h4 {
  font-size: 2em;
  margin: 0px;
}

.tarjeta-container-ventas p {
  font-size: 2.5em;
  margin: 0.35em;
}

.total-ventas h4 {
  color: white;
  text-align: center;
}

.total-ventas p {
  color: white;
  font-weight: 700;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.stats .llamadas-estados {
  display: grid;
  grid-template-columns: repeat(5, 12em);
  gap: 0px;
  padding: 0px;
  height: 5.9em;
}

.stats .llamadas-estados .tarjeta-estadistica {
  height: 2.2em;
}

.stats .logo-header {
  width: 85%;
  margin-bottom: 30px;
  align-self: center;
  justify-self: end;
}

.tarjeta-individual2 {
  margin: 5px;
}

.total-container {
  display: grid;
  grid-template-columns: 2fr repeat(3, minmax(150px, 1fr));
  width: 100%;
  height: 5.5em;
  gap: 5px;
}

.total-container .logo-header {
  justify-content: end;
}

.total-container .tarjeta-estadistica {
  height: 2.4em;
}

.total-container .tarjeta-estadistica-kliikers {
  background: #217a4d;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 3.65em;
  justify-content: center;
}

.total-container .tarjeta-estadistica-kliikers p {
  color: #d1d1d1;
  margin: -8px;
  font-size: 1em;
  font-weight: bolder;
}

.total-container .tarjeta-estadistica-kliikers h4 {
  color: rgb(255, 255, 255);
  margin: 9px;
  font-size: 1em;
  font-weight: bolder;
}

.tarjeta-estadistica {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tarjeta-estadistica1 {
  background: #217a4d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;

  & h4 {
    color: #ffffff;
    margin: 0px;
    font-size: 1em;
    font-weight: bolder;
  }

  & p {
    color: #dadedf;
    margin: 0px;
    font-size: 1em;
    font-weight: 700;
  }
}

.tarjeta-estadistica h4 {
  color: #2c3e50;
  margin: 0px;
  font-size: 1em;
  font-weight: bolder;
}

.tarjeta-estadistica p {
  color: #7f8c8d;
  margin: 0px;
  font-size: 1em;
  font-weight: 500;
}

.filtros {
  background-color: #f2eaea;
  padding: 9px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.contenido {
  border-radius: 10px;
  border: 1px solid;
}

.filtro2 {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.filtro2 .form-label {
  font-size: 15px;
  color: #333;
  font-weight: 600;
  align-items: center;
  background-color: #978ce8;
  margin-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.filtro2 input[type="date"],
.filtro2 .select {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
  margin-top: 0;
}

.select,
.date {
  background-color: #f2eaea;
}

.filtro2 .select:hover,
.filtro2 input[type="date"]:hover {
  border-color: #888;
}

.filtro2 .select {
  cursor: pointer;
}

.contenido {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.grupo-gestiones {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tarjeta-gestion {
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.tarjeta-gestion h4 {
  color: #64748b;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.tarjeta-gestion p {
  color: #1e293b;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.contactabilidad,
.rpc,
.conversion,
.efectividad {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  margin-top: 0.5rem;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 10px;
  height: 21.45em;
}

.chart {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}
.seccion-estadisticasAbajo {
  flex: 0 0 auto;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  width: 99%;
}

.tarjetas-containerAbajo {
  display: flex;
  /* gap: 5px;   */
  flex-direction: row;
  justify-content: space-around;
}

.tarjeta-estadisticaAbajo {
  background: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 23%;
  height: 4.25em;
}

.tarjeta-estadisticaAbajo h4 {
  color: #2c3e50;
  margin: 0 0 10px 0;
  font-size: 1em;
  font-weight: bolder;
}

.tarjeta-estadisticaAbajo p {
  color: #7f8c8d;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.containerC {
  display: flex;
  justify-content: space-evenly;
}

/* ========================= MEDIA QUERIES ========================= */
@media (min-width: 1024px) and (max-width: 1366px) {
  /* Desktop para 1366x768 */
  .navbar-custom {
    width: 180px; /* Navbar un poco más estrecha */
  }

  .container {
    margin-left: 220px; /* Ajuste del margen para el contenido */
  }

  .stats .llamadas-estados {
    grid-template-columns: repeat(5, 1fr); /* 4 columnas en lugar de 5 */
  }

  .total-container {
    grid-template-columns: 2fr repeat(3, minmax(120px, 1fr)); /* Columnas más estrechas */
  }

  .tarjeta-individual {
    height: 8em; /* Altura reducida de las tarjetas */
  }

  .tarjeta-container-ventas h4 {
    font-size: 1.8em; /* Tamaño de fuente ligeramente reducido */
  }

  .tarjeta-container-ventas p {
    font-size: 2.2em; /* Tamaño de fuente ligeramente reducido */
  }

  .chart-container {
    grid-template-columns: 1fr 1fr; /* Gráficos en una sola columna */
    height: 25em; /* Altura automática */
  }

  .chart {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
  }

  .grupo-gestiones {
    grid-template-columns: 1fr 1fr; /* Dos columnas para las gestiones */
  }

  .tarjeta-estadistica h4 {
    font-size: 0.9em; /* Tamaño de fuente reducido */
  }

  .tarjeta-estadistica p {
    font-size: 0.9em; /* Tamaño de fuente reducido */
  }

  .filtro2 {
    gap: 10px; /* Espaciado reducido entre elementos */
    flex-wrap: nowrap;
  }

  .logo-header {
    width: 70%; /* Reducción del tamaño del logo */
  }
}
