@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.navbar-custom {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 215px;
  background-color: #f2eaea;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-custom div {
  display: grid;
  gap: 15px;
}

.bi-person-circle {
  font-size: 70px;
  color: #5043af;
  margin: 0;
}

.navbar-custom ul {
  list-style: none;
  margin: 0;
  display: grid;
  gap: 10px;
  padding: 0;
  width: 100%;
}

.navbar-custom .iconos li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5px 0;
  width: 100%;
  border-bottom: 2px solid #573bb6;
  border-radius: 10px;
  & a {
    text-decoration: none;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    display: block;
    width: 100%;
  }
}

.user {
  margin-bottom: 50px;
  text-align: center;
}

.navbar-custom .icon li:hover {
  background-color: #e3dbdb;
}

.navbar-custom .cerrar-icon {
  transition: all ease 0.6s;
  border-radius: 10px;
  margin-top: 20px;

  & a {
    text-decoration: none;
    color: #2c3e50;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    /* display: block; */
    width: 100%;
  }
}

.navbar-custom .cerrar-icon:hover {
  background-color: rgb(216, 144, 144);
  transition: all ease 0.6s;
}

.logo-header {
  width: 80%;
  margin-bottom: 20px;
  align-self: center;
}

.icon {
  display: flex;
  align-items: center;
  margin: 5 px 0;
  padding: 5px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #718096;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  margin-left: 250px;

  & .totales {
    display: grid;
    grid-template-columns: 1fr 4fr;

    & .totales-individuales {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

/* Contenedor principal de tarjetas */
.totales {
  display: grid;
  gap: 10px;
}

/* Sección de ventas principales */
.tarjeta-individual {
  border-radius: 12px;
  padding: 10px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: transform 0.2s;
  background-color: #38a86f;
  width: 15em;
  height: 8.25em;
  border: solid 2px #198f51;
  margin: 10px;
}
.tarjeta-individual:hover {
  transform: translateY(-3px);
}

/* Estilos específicos para ventas */
.tarjeta-container-ventas {
  display: flex;
  flex-direction: column;
}

.total-ventas h4 {
  color: white;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

.total-ventas p {
  color: white;
  font-weight: 700;
  text-align: center;
}

/* ------------------------- Sección de estadísticas ------------------------ */
.stats {
  display: flex;
  flex-direction: column;
  padding: 0px;
  & .totales-codigo {
    display: grid;
    /* grid-template-columns: repeat(5, minmax(150px, 1fr)); */
    grid-template-columns: 2fr 3fr;
    gap: 0px;
    padding: 0px;
    & .codigo-container {
      display: grid;
      grid-template-columns: repeat(3, minmax(150px, 1fr));
      gap: 0px;
      padding: 0px;
      align-items: center;
      & img {
        height: 50px;
        grid-column: 3;
        justify-self: center;
      }
    }
  }

  & .llamadas-estados {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    gap: 0px;
    padding: 0px;
  }
}

.tarjeta-individual2 {
  margin: 10px;
}

.tarjeta-estadistica {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 3em;
}

.tarjeta-estadistica h4 {
  color: #2c3e50;
  margin: 0 0 10px 0;
  font-size: 1em;
  font-weight: bolder;
}

.tarjeta-estadistica p {
  color: #7f8c8d;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

/* filtros */
.filtros {
  background-color: #f2eaea;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.contenido {
  border-radius: 10px;
  border: 1px solid;
}

.filtro2 {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.filtro2 .form-label {
  font-size: 15px;
  color: #333;
  font-weight: 600;
  align-items: center;
  background-color: #978ce8;
  margin-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.filtro2 input[type="date"],
.filtro2 .select {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  /* background-color: #e3dbdb; */
  font-size: 15px;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
  margin-top: 0;
}

.select,
.date {
  background-color: #f2eaea;
}

.filtro2 .select:hover,
.filtro2 input[type="date"]:hover {
  border-color: #888;
}

.filtro2 .select {
  cursor: pointer;
}

.contenido {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* --------------------------------- charts --------------------------------- */

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.chart {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* abajo */

/* Cada sección individual */
.seccion-estadisticasAbajo {
  flex: 0 0 auto;
  min-width: 200px;
  display: flex;
}

/* Contenedor interno de tarjetas */
.tarjetas-containerAbajo {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

/* Estilo de tarjetas */
.tarjeta-estadisticaAbajo {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 15em;
  height: 3em;
}

.tarjeta-estadisticaAbajo h4 {
  color: #2c3e50;
  margin: 0 0 10px 0;
  font-size: 1em;
  font-weight: bolder;
}

.tarjeta-estadisticaAbajo p {
  color: #7f8c8d;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.containerC {
  display: flex;
  justify-content: space-evenly;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .seccion-estadisticasAbajo {
    width: 100%;
    min-width: auto;
  }
}
@media (max-width: 480px) {
  body {
    grid-template-columns: 60px 1fr;
  }

  .navbar-custom span,
  .navbar-custom li a {
    display: none;
  }

  .logo-header {
    width: 90%;
  }
}
/* Responsive design */
@media (max-width: 768px) {
  body {
    grid-template-columns: 200px 1fr;
  }
  .totales-individuales,
  .stats {
    grid-template-columns: 1fr;
  }

  .total-compras p {
    font-size: 2em;
  }

  .tarjeta-estadistica {
    flex-basis: 100%;
  }
}
