<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hola {{session["usuario"]}}</h1>

    <a href="{{url_for('auth.logout')}}">Cerrar sesión</a>

    <h1>Registros kiikler</h1>
    <table class="tabla-datos">
      <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Celular</th>
          <th>Código</th>
          <th>ID Kliiker</th>
          <th>Correo</th>
          <th>Fecha</th>
          <th>Venta</th>
      </tr>
      {% for fila in datos %}
      <tr>
          <td>{{ loop.index }}</td>
          <td>{{ fila.nombre }}</td>
          <td>{{ fila.apellido }}</td>
          <td>{{ fila.celular }}</td>
          <td>{{ 'Sí' if fila.codigo else 'No' }}</td>
          <td>{{ fila.id_kliiker }}</td>
          <td>{{ fila.correo }}</td>
          <td>{{ fila.fecha.strftime('%d/%m/%Y %H:%M') if fila.fecha else '' }}</td>
          <td>{{ 'Sí' if fila.venta else 'No' }}</td>
      </tr>
      {% endfor %}
  </table>
  </body>
</html>
