<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Administración</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .navbar-custom {
        background-color: #f8f9fa;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .logo-header {
        height: 50px;
      }
      .search-container {
        max-width: 300px;
      }
      .tabla-datos {
        font-size: 0.9rem;
      }
      .btn-tab {
        padding: 0.25rem 0.5rem;
      }

      .tabs {
        display: flex;
        margin-bottom: 20px;
      }
      .tab {
        padding: 10px 20px;
        cursor: pointer;
        background: none;
        border: none;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease;
      }
      .tab.active {
        border-color: #007bff;
        color: #007bff;
        font-weight: 500;
      }

      .table-container {
        display: none;
      }
      .table-container.active {
        display: block;
      }

      [data-motivo-container] {
        transition: opacity 0.3s ease;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="container-fluid">
        <img
          src="../../static/img/LogoKliiker.png"
          class="logo-header me-3"
          alt="Logo Kliiker"
        />
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('mostrar_tablas.mostrar_tabla')}}">Gestión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('estadisticas_bp.mostrar_graficos')}}"
                >Estadísticas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Administrativo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('mostrar_asesores_tables.mostrar_asesores')}}"
                >Asesor</a
              >
            </li>
          </ul>
          <span class="navbar-text me-3">Hola {{session["usuario"]}} ({{session["rol"]}})</span>
          <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger"
            >Cerrar sesión</a
          >
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="search-container">
          <input
            type="search"
            id="searchInput"
            class="form-control"
            placeholder="Buscar..."
          />
        </div>
        <img
          src="../../static/img/LogoAndes.png"
          class="logo-header"
          alt="Logo Andes"
        />
      </div>

      <!-- ------------------------- Boton mostrar modal ------------------------- -->
      <div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalleModal">Agregar Asesor</button>
      </div>


      <!-- ----------------------------------------------------------------------- -->
      <!--                             Tabla Asesores                              -->
      <!-- ----------------------------------------------------------------------- -->
      <div class="table-container active" id="gestionTable">
        <table class="table table-hover tabla-datos">
          <thead class="table-light">
            <tr>
              <th>Nombre_AS</th>
              <th>Documento</th>
              <th>Usuario</th>
              <th>Rol</th>
            </tr>
          </thead>
          <tbody>
            {% for fila in datos %}
            <tr>
              <td>
                  {{ fila.nombre_AS }}
              </td>
              <td>{{ fila.documento }}</td>
              <td>{{ fila.usuario }}</td>
              <td>{{ fila.rol }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    <!-- -------------------------------- Modal -------------------------------- -->
    <div class="modal fade" id="detalleModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Asesor</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <form
            method="POST"
            action="{{url_for('insertar_asesor.insertar')}}"
          >
            <div class="modal-body">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>

                <label for="documento" class="form-label">Documento</label>
                <input type="text" class="form-control" id="documento" name="documento" required>

                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="usuario" name="usuario" required>

                <select class="form-select mt-3" id="rol" name="rol" required>
                  <option value="">Seleccionar Rol</option>
                  <option value="Asesor">Asesor</option>
                  <option value="Administrador">Administrador</option>
                </select>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
       //Mostrar modal
       function showModal(){
        document.getElementById("detalleModal").showModal();
       }
    


      // Búsqueda optimizada
      document
        .getElementById("searchInput")
        .addEventListener("input", function (e) {
          const filter = e.target.value
            .normalize("NFD")
            .replace(/[\u0300-\u036f]/g, "")
            .toUpperCase();
          const activeTable = document.querySelector(
            ".table-container.active table"
          );

          Array.from(activeTable.querySelectorAll("tbody tr")).forEach(
            (row) => {
              const text = Array.from(row.children)
                .map((cell) =>
                  cell.textContent
                    .normalize("NFD")
                    .replace(/[\u0300-\u036f]/g, "")
                    .toUpperCase()
                )
                .join(" ");
              row.style.display = text.includes(filter) ? "" : "none";
            }
          );
        });

     
    </script>
  </body>
</html>
