<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="form-login">
        <p class="tittle">Log-In</p>
        <div>
        <form action="/login.html" method="post">
            <input class="in-user" type="text" name="user" id="user"><br>
            <input class="in-pass" type="password" name="pass" id="pass"><br>
            <input class="in-submit" type="submit" value="Ingresar">
        </form>
    
    
    </div>
    </div>
</body>

</html>